.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 90px;
    border-radius: 10px;
    padding: 10px 18px 10px 10px;
}
.card__logo {
    width: 75px;
    height: 75px;
}
.card__title {
    color: #FFF;
    font-size: 32px;
    font-weight: 700;
}

